@import 'normalize';


body {
	font-family: Arial;
}

$line-red:#e62b1e;
$facebook-btn:#3e5b96;
$google-btn:#dd5342;
$login-btn:#252525;
@mixin column {
	display: flex;
	flex-direction: column;
}

@mixin button($color, $left) {
	background-color: $color;
	white-space: nowrap;
	letter-spacing: 1px;
	font-size: 13px;
	border-radius: 5px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	line-height: 40px;
	padding-left: $left;
	text-align: center;
	&:hover{
		@if $color == $facebook-btn{
			background-color: darken($color, 4%);
	}
				@if $color == $google-btn{
			background-color: darken($color, 2%);
	}
				@if $color == $login-btn{
			background-color: lighten($color, 15%);
	}
	}
}

@mixin social-button {
	width: 100%;
	position: relative;
	i {
		font-size: 23px;
		position: absolute;
		top: 10px;
		left: 15px;
	}
}

@mixin input {
	width: 100%;
	height: 40px;
	border: 1px solid #dddddd;
	border-radius: 2px;
	padding-bottom: 8px;
}

section.login-modal {
	@include column;
	width: 844px;
	height: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	background: #ffffff;
	box-shadow: 0 3px 3px -2px #bcbcbc;
	border-top: 2px solid $line-red;
	.close-modal {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #c2c2c2;
		border: none;
		background-color: none;
		font-size: 20px;
		cursor: pointer;
	}
	header {
		padding-top: 25px;
		padding-bottom: 25px;
		h1 {
			font-size: 31px;
			padding: 0;
			margin: 0;
			font-weight: 550;
		}
	}
	footer {
		padding-top: 35px;
		padding-bottom: 35px;
		p {
			font-size: 18px;
			color: #666666;
			a {
				color: #000000;
				font-weight: bold;
			}
		}
	}
}
.login-modal-content {
	background: #f3f3f3;
	padding: 40px 60px;
	display: flex;
	width: 100%;
	height: auto;
	justify-content: space-between;
	div {
		@include column;
		width: 50%;
		padding-right: 60px;
		.google {
			@include button($google-btn, 20px);
			@include social-button;
		}
		.facebook {
			@include button($facebook-btn, 20px);
			@include social-button;
			margin-bottom: 20px;
		}
	}
	form {
		font-size: 14px;
		@include column;
		width: 50%;
		padding-left: 59px;
		border-left: 1px solid #cfcfcf;
		justify-content: space-between;
		letter-spacing: 1px;
		label:not(:last-of-type) {
			margin-bottom: 10px;
		}
		input{
			margin-bottom: 25px;
		}
		input[type="text"],
		input[type="password"] {
			@include input;
		}
		p.login {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			a {
				color: #656565;
				&:hover{
					color: darken(#656565, 20%);
				}
			}
		}
		.login-btn {
			@include button($login-btn, 32px);
			padding-right: 32px;
		}
	}
}
@import 'media';